.actionbar {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.83);
    color: white;
}

.left {
    padding-left: 5px;
}

.right {
    padding-right: 5px;
}

i {
    font-size: 20pt;
    color: white;
    margin-top: 6px;
}

a {
    text-decoration: none;
}

span {
    font-size: 20pt;
    font-family: Helvetica;
}